html, body {
 /*overflow-x: hidden;*/
}

/*HEADER*/
header {
 background: #F4E9E7;
 width: 100%;
}
header nav ul {
 list-style-type: none;
 margin: 0;
 padding: 15px;
 overflow: hidden;
 background-color: #FAF5ED;
}
header nav ul > li {
 font-size: 18px;
 float: right;
}
header nav ul .logo {
  padding: 0;
  float: left;
}
header nav ul > li > a {
 color:#D99D53;
 display: block;
 color: #D99D53;
 text-align: center;
 padding: 10px 30px;
 text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
 color:#E0B3AD;
}
.hero {
 position: relative;
}
.hero .hero-overlay {
 position: absolute;
 top: 100px;
 left: 0;
 right: 0;
}
.hero .left-info {
 background: #FFFFFF;
 width: 20%;
 height: 150px;
 text-align: center;
}
.hero .left-info h1 {
 font-size: 70px;
 font-weight: normal;
 margin: 0;
 color: #000000;
}
.hero .left-info h3 {
 font-size: 28px;
 line-height: 10px;
 font-weight: medium;
 color: #D99D53;
 margin:5px 0 12px;
}
.hero .left-info h2 {
 font-size: 30px;
 line-height: 40px;
 font-weight: medium;
 color: #000000;
 margin:5px 10px 7px;
}
.hero .left-social-media {
 background: #FFFFFF;
 width: 8%;
 height: 35px;
 margin:20px 0 40px;
 padding-left:10px;
}
.hero .social-media-info{
 padding: 5px;
}
.hero .left-social-media a {
 display: inline-block;
}
.hero .katiesha  {
 display: block;
 margin: 40px auto 0;
 width:630px;
 height:572px;
}

/*FONT SIZE/TYPE*/
h1 {
 font-family: 'Montserrat', sans-serif;
 font-size: 70px;
}
h2{
 font-family: 'Cormorant Garamond', serif;
 font-size: 40px;
 color: #D99D53;
}
h3{
 font-family: 'Cormorant Garamond', serif;
 font-size: 28px;
 font-weight: 100;
}
p{
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
}
li{
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
}
ul.top-stuff{
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
 color: #D99D53;
}
li.Design-Container, li.Software-Container, li.Languages-Container{
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
}
ul.Design-Skills, ul.Software-Types, ul.Language-Types{
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
}
btn-outline{
 color:#D99D53;
}

/*PROJECT ONE*/
.Project1 {
 display: flex;
 flex-direction: row;
 align-items: stretch;
 justify-content: center;
}
.project1-left {
 flex: 55;
 background-color: #FFFFFF;
 margin-top: -50px;
 z-index: 1;
 width: 350px;
}
.project1-right {
 flex: 45;
 background-color: #E7E1D3;
 text-align: right;
}
.storytime1 {
 margin: 80px -10px 50px 210px;
}
.project1-right-info {
 padding: 30px;
 width: 350px;
 height: 185px;
 margin-top: 70px;
 margin-left: 50px;
 text-align: center;
}
.project1-right h2{
 color: #D99D53;
 margin: 10px;
 font-size: 50px;
}
.project1-right ul {
list-style-type: none;
margin: 5px;
}
.project1-right ul > li {
font-size: 18px;
float: left;
padding: 5px;
}
.storytime1 {
 width: 550px;
 height: 390px;
}




/*PROJECT TWO*/
.Project2 {
 display: flex;
 flex-direction: row;
 align-items: stretch;
 justify-content: center;
}
.project2-left {
 flex: 80;
 background-color: #F4E9E7;
 text-align: center;
 z-index: 1;
}
.project2-right-pic-section {
 flex: 20;
 background-color: #FFFFFF;
 z-index: 1;
}
.artsywood1 {
 margin: 50px 90px 50px -150px
}
.project2-left-info {
 padding: 30px;
 width: 350px;
 height: 185px;
 margin-top: 145px;
 margin-left: 90px;
 text-align: center;
}
.project2-left h2{
 color: #D99D53;
 margin: 10px;
 font-size: 50px;
}
.project2-left ul {
list-style-type: none;
margin: 5px 0 5px -80px;
width: 400px;
padding: 0px;
}
.project2-left ul > li {
font-size: 18px;
float: right;
padding: 5px;
}
.artsywood1 {
 width: 550px;
 height: 390px;
}


/*PROJECT THREE*/
.Project3 {
 height: 458px;
}
.project3-left {
 float: left;
 width: 50%;
 height: 478px;
 background-color: #E7E1D3;
 margin-top: -20px;
}
.project3-right {
 float: right;
 width: 50%;
 height: 458px;
 background-color: #E7E1D3;
}
.Blocbox3 {
 margin: 50px 0 50px 30px;
}
.project3-right-info{
 width: 306px;
 margin: 110px 50px 50px 175px;
}
.project3-right h2{
 color: #D99D53;
 margin-bottom: 5px;
 text-align: center;
 font-size: 50px;
}
.project3-right ul {
 list-style-type: none;
 margin: 5px 0px 5px 0;
 padding-left: 62px;
}
.project3-right ul > li {
font-size: 18px;
float:left;
padding: 5px;
}
.Blocbox3 {
 width: 550px;
 height: 390px;
}

/*PROJECT BUTTONS*/
.button {
 display: inline-block;
 border-radius: 30px;
 background-color: #FFFFFF;
 border: none;
 font-family: 'Montserrat', sans-serif;
 color: #D99D53;
 text-align:center;
 font-size: 22px;
 font-weight: lighter;
 padding: 15px;
 width: 200px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 50px;
}
.button span{
cursor:pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span:after{
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.button:hover span{
padding-right: 25px;
}
.button:hover span:after{
opacity: 1;
right: 0
}

/*PROFILE AND SKILLS SECTION*/

/* PROFILE */
.Profile-and-Skills{
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: center;
width: 100%;
}
.profile-left{
flex: 30;
background-color: #FFFFFF;
text-align: center;
z-index: 1;
}
.profile-picture{
margin: 50px 20px 50px 20px;
}

.left-info p{
 width: 270px;
 padding-left: 56px;
 font-weight: lighter;
 margin-top: 5px;
}
.profile-picture {
 width:250px;
 height:350px;
}

/* profile button */
.profile-button {
 display: inline-block;
 border-radius: 30px;
 background-color: #D99D53;
 border: none;
 font-family: 'Montserrat', sans-serif;
 color: #FFFFFF;
 text-align:center;
 font-size: 22px;
 font-weight: lighter;
 padding: 20px;
 width: 240px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 50px;
}
.profile-button span {
cursor:pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.profile-button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.profile-button:hover span {
padding-right: 25px;
}
.profile-button:hover span:after {
opacity: 1;
right: 0;
}
.left-info .profile-button a {
 text-decoration: none;
 color: inherit;
}

/* SKILLS */
.skills-right {
flex: 70;
margin-top: -20px;
margin-bottom: 10px;
background-color: #F4E9E7;
}
.skills-right h2 {
color: #D99D53;
text-align: center;
}
.tablink {
background-color: #FFFFFF;
color: #000000;
float: right;
border: none;
outline: none;
cursor: pointer;
padding: 10px 20px;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
width: 30%;
}
.tablink:hover {
 text-decoration: underline;
 text-decoration-color: #D99D53;
}
.tabcontent {
 background-image: url("http://siteimages/goldbackground.png");
 color: #000000;
 display: none;
 padding: 60px 20px;
height: 25%;
font-weight: lighter;
}
.tabcontent ul {
 margin: 30px 30px;
 line-height:200%
}
#Languages {background-color: #CACACA;}
#Software {background-color: #CACACA;}
#Design {background-color: #CACACA;}


/*DESIGN ELEMENT ARROWS*/
.design-element{
display: flex;
height: 100px;
width: 100%;
}
.blank-side {
 flex: 30;
 background: #F6F6F6;
}
.right-arrows {
 flex: 70;
 background: #F6F6F6;
 margin-top: -101px;
 z-index: 1;
 width: 350px;
}
.down-triangles {
 margin: 50px 448px 50px 448px;
}

/* CONTACT ME SECTION */
.contact {
 background: #FFFFFF;
 height: 342px;
}

.contact-info {
 width: 470px;
 margin: 50px 0 50px 430px;
 text-align: center;
}
.contact-info h1 {
 color: #D99D53;
 font-family: 'Cormorant Garamond', serif;
 font-size: 65px;
 margin: 50px 0 5px 0;
}
.contact-info p {
 font-family: 'Montserrat', sans-serif;
 font-weight: lighter;
 margin: 5px 0 5px 0;
 font-size: 24px;
}


/* email button */
.contact-btn{
 margin: 50px;
 background:#D99D53;
 color:#FFFFFF;
 font-weight: lighter;
 border:none;
 position:relative;
 height:60px;
 font-size:1.6em;
 padding:0 2em;
 cursor:pointer;
 transition:800ms ease all;
 outline:none;
 font-family: 'Montserrat', sans-serif;
 border-radius: 4px;
}
.contact-btn:hover{
 background:#fff;
 color:#000000;
}
.contact-btn:before,.contact-btn:after{
 content:'';
 position:absolute;
 top:0;
 right:0;
 height:2px;
 width:0;
 background: #D99D53;
 transition:400ms ease all;
}
.contact-btn:after{
 right:inherit;
 top:inherit;
 left:0;
 bottom:0;
}
.contact-btn:hover:before, .contact-btn:hover:after{
 width:100%;
 transition:800ms ease all;
}
.contact-btn a  {
 text-decoration: none;
 color: inherit;
}

/* FOOTER */
.footer {
 width: 100%;
 color: #FFFFFF;
 text-align: center;
 background: #E0C2C2
}
footer nav ul {
 list-style-type: none;
 margin: 0 0 0 350px;
 padding: 40px;
 overflow: hidden;
}
footer nav ul > li {
 font-size: 14px;
 margin-right: 296px;
}


/********************* PAGE 2: ABOUT PAGE *************************/
.bio-hero{
 background: #FFFFFF;
}
.bio-hero .hero-overlay {
 position: absolute;
 top: 100px;
 left: 0;
 right: 0;
}
.bio-hero .left-info {
 margin-top: 228px;
 width: 40%;
 height: 70px;
 text-align: center;
}
.bio-hero .left-info h1 {
 font-size: 40px;
 font-weight:lighter;
 margin: 0;
 color: #000000;
}
.bio-hero .left-info h3 {
 font-size: 28px;
 line-height: 10px;
 font-weight: medium;
 color: #D99D53;
 margin:5px 0 40px;
}
.bio-hero .katiesha-bio-pic  {
 display: block;
 padding-left: 650px;
 margin-bottom: -50px;
}
h4{
 font-family: 'Cormorant Garamond', serif;
 font-size: 34px;
 color: #D99D53;
 margin-bottom: 0px;
}
.bio-info {
 display: flex;
 position: relative;
 z-index: 1;
}
.bio-info-left{
 flex: 50%;
 background: #F2E2E2;
}
.left-wording{
  margin: 50px;
  width: 480px;
}
.bio-info-right{
 flex: 50%;
 background: #F1F1F1;
}
.bio-info-right h4{
 margin-left: 50px;
}
.right-wording{
 margin: 50px;
 width: 480px;
}
.right-wording p{
 margin-left: 50px;
}
.bio-info p{
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 line-height: 40px;
 width: 392px;
 font-weight: lighter;
 margin-top: 0px;
}



.contact-bio {
 background: #FFFFFF;
 position: relative;
 z-index: 1;
}
.contact-bio:before, .contact-bio:after {
 background: inherit;
 content: '';
 display: block;
 height: 50%;
 left: 0;
 position: absolute;
 right: 0;
 z-index: -1;
 -webkit-backface-visibility: hidden;
}
.contact-bio:before {
 top: 0;
 -webkit-transform: skewY(1.5deg);
         transform: skewY(1.5deg);
 -webkit-transform-origin: 100% 0;
         transform-origin: 100% 0;
}
.contact-bio:after {
 bottom: 35px;
 -webkit-transform: skewY(-1.5deg);
         transform: skewY(-1.5deg);
 -webkit-transform-origin: 100%;
         transform-origin: 100%;
}

.contact-bio {
 color: #D99D53;
 font-family: 'Cormorant Garamond', serif;
 padding: 10px;
 text-align: center;
}
.contact-bio h1{
 font-family: 'Cormorant Garamond', serif;
 color: #D99D53;
 font-size: 65px;
 margin: 50px 0 5px 0;
}

/********************* PAGE 3: CASE STUDY *************************/
.artsywood-hero{
 background: #FFFFFF;
}
.artsywoodoverlay{
   width: 80%;
   margin-left: 130px;
}
.cs-titles {
 width: 100%;
 margin: 40px 450px 100px;
}
h5{
 color: #4DAEAB;
 font-size: 20px;
 font-family: 'Cormorant Garamond', serif;
 margin-bottom: 0px;
}
h6{
 color: #1A5250;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 0px;
}
.cs-titles p {
 font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   margin: 5px 0px;
   width: 445px;
}
.artsywoodcomputer {
 width: 60%;
 margin: 0px 240px;
}
.titles {
 margin-bottom: 40px;
}
.titles h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 0px 20px;
}
.titles h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 0px 20px;
}
.comp-talk{
   background: #f1f1f1;
   width: 100%;
   height: 230px;
}
.comp-talk p {
 margin: 5px;
 line-height: 30px;
 padding: 30px;
}
.comp-analysis {
 margin-top: 100px;
}
.artsywoodcomment {
 width: 50%;
 margin: 40px 200px 40px 258px;
}
.learned {
 background: #e0c6ba;
 width: 100%;
 height: 260px;
}
.artsywoodsunglasses{
 width: 59px;
 height: 27px;
 display: inherit;
 margin-left: 600px;
 padding-top: 40px;
 padding-bottom: 20px;
}
.learned h7 {
 font-family: 'Cormorant Garamond', serif;
 font-size: 24px;
 padding-left: 428px;
}
.learned p {
 font-family: 'Cormorant Garamond', serif;
 font-size: 20px;
 line-height: 25px;
 padding-left: 10px;
}
.personas {
 margin-top: 100px;
}
.personas h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.personas h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.personas-info{
   background: #f1f1f1;
   width: 100%;
   height: 150px;
}
.personas-info p {
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodpersona{
 width: 100%;
 margin-top: 100px;
}
.user-stories{
 margin-top: 100px;
}
.user-stories h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.user-stories h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.user-stories-info{
   background: #f1f1f1;
   width: 100%;
   height: 150px;
}
.user-stories-info p {
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywooduserstories{
 width: 80%;
 margin-left: 100px;
 margin-top: 40px;
}
.low-fi {
 margin-top: 100px;
}
.low-fi h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.low-fi h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.low-fi-info{
 background: #f1f1f1;
 width: 100%;
 height: 180px;
}
.low-fi-info p{
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodlowfipic{
width: 80%;
margin-left: 100px;
margin-top: 40px;
}
.elements-and-type {
 margin-top: 100px;
}
.elements-and-type h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.elements-and-type  h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.elements-and-type-info{
   background: #f1f1f1;
   width: 100%;
   height: 270px;
}
.elements-and-type-info p {
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodcolors{
 width: 80%;
 margin-left: 100px;
 margin-top: 40px;
}
.artsywoodlogos{
 width: 20%;
 margin-left: 480px;
 margin-top: 40px;
}
.artsywoodtwoelements{
 width: 50%;
 margin-left: 290px;
 margin-top: 40px;
}
.high-fi {
 margin-top: 100px;
}
.high-fi h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.high-fi h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.high-fi-info{
 background: #f1f1f1;
 width: 100%;
 height: 150px;
}
.high-fi-info p{
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodhighfipic{
width: 80%;
margin-left: 100px;
margin-top: 40px;
}
.high-fi-pic{
 margin-top: 40px;
 background: #F2F2F2;
}
.prototype-and-user-testing{
 margin-top: 100px;
}
.prototype-and-user-testing h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.prototype-and-user-testing h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.prototype-and-user-testing-info{
 background: #f1f1f1;
 width: 100%;
 height: 240px;
}
.prototype-and-user-testing-info p{
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodprototypepic{
width: 80%;
margin-left: 100px;
margin-top: 40px;
}
.conclusion{
 margin-top: 100px;
}
.conclusion h2{
 color: #4DAEAB;
 font-size: 40px;
 font-family: 'Cormorant Garamond', serif;
 margin: 5px 0px 40px 20px;
}
.conclusion h3{
 color: #4DAEAB;
 font-size: 24px;
 font-family: 'Cormorant Garamond', serif;
 margin: 40px 0px 0px 20px;
}
.conclusion-info{
 background: #f1f1f1;
 width: 100%;
 height: 210px;
}
.conclusion-info p{
 margin: 5px;
 line-height: 30px;
 padding: 50px;
}
.artsywoodonelogopic{
 width: 20%;
 margin-left: 480px;
 margin-top: 40px;
}
.button-section{
 height: 200px;
 margin-left: 460px;
}

/*CASE STUDY BUTTONS*/
.prototype-button {
 display: inline-block;
 border-radius: 30px;
 background-color: #D99D53;
 border: none;
 font-family: 'Montserrat', sans-serif;
 color: #FFFFFF;
 text-align:center;
 font-size: 22px;
 font-weight: lighter;
 padding: 15px;
 width: 200px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 50px;
}
.prototype-button span{
cursor:pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.prototype-button span:after{
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.prototype-button:hover span{
padding-right: 25px;
}
.prototype-button:hover span:after{
opacity: 1;
right: 0
}
.prototype-button a{
 text-decoration: none;
 color:inherit;
}
.button a{
 text-decoration: none;
 color:inherit;
}

/*****************RESUME************************/
.resume{
  background: #F4E9E7;
}
.resume h2{
  text-align: center;
}
.resume img{
  width: 60%;
  height: 30%;
  margin-left: 20%;
  margin-top: 40px;
}

/*****************MEDIA QUERIES************************/
@media screen and (min-width : 320px) and (max-width : 479px)  {
h2 {
 font-size: 15px;
 }
header nav ul > li {
 font-size: 12px;
}
header nav ul {
   padding: 5px;
}
header nav ul > li > a {
 padding: 12px 12px;
}
.hero .katiesha {
  width: 180px;
   height: 150px;
   margin: 10px auto 0;
}
.hero .hero-overlay {
 top: 25px;
}
.hero .left-info{
 width: 144px;
 height: 65px;
}
.hero .left-info h1{
 font-size: 30px;
}
.hero .left-info h3{
 font-size: 15px;
 line-height: 5px;
}
.hero .left-info h2{
 font-size: 16px;
 line-height: 5px;
}
.hero .left-social-media {
 height: 31px;
 width:124px;
 padding-left: 20px;
 margin: 0px 0 40px;
}
.Project1 {
 height: 150px;
}
.project1-left {
 flex: 60;
 background-color: #E7E1D3;
 margin-top: -15px;
 width: 121px;
}
.project1-right {
 flex: 40;
 background-color: #E7E1D3;
 text-align: right;
 width: 121px;
}
.storytime1 {
 width: 90%;
 height: 90%;
 margin: 10px -20px 32px 25px;
}
.project1-right ul {
 margin-left: -25px;
}
.project1-right h2 {
 font-size: 20px;
 margin: 5px;
}
.project1-right-info {
 padding: 20px;
 width: 140px;
 height: 115px;
 margin-top: 5px;
 margin-left: -10px;
}
.project1-right ul > li {
 font-size: 8px;
 padding: 2px;
}
.Project2 {
 height: 150px;
}
.project2-left {
 flex: 80;
 background-color: #F4E9E7;
 width: 250px;
}
.project2-right {
 flex: 20;
 background-color: #F4E9E7;
 text-align: right;
 width: 70px;
}
.project2-right-pic-section {
 flex: 20;
 background-color: #F4E9E7;
}
.artsywood1 {
 width: 260%;
 height: 90%;
 margin: 10px -24px 13px -160px;
}
.project2-left ul {
 margin-left: 16px;
}
.project2-left h2 {
 font-size: 20px;
 margin: 5px;
}
.project2-left-info {
 padding: 20px;
 width: 160px;
 height: 115px;
 margin-top: 5px;
 margin-left: -10px;
}
.project2-left ul > li {
 font-size: 8px;
 padding: 2px;
 float: left;
}
.Project3 {
 height: 180px;
}
.Blocbox3 {
 width: 75%;
 height: 82%;
 margin: 30px -20px 32px 39px;
}
.project3-left{
 height: 180px;
 width: 68%;
}
.project3-right{
 height: 180px;
 width: 32%;
}
.project3-right-info {
 padding: 20px;
 width: 115px;
 height: 84px;
 margin-top: 10px;
 margin-left: -34px;
}
.project3-right ul > li {
 font-size: 8px;
 padding: 2px;
}
.project3-right ul {
 margin-left: 18px;
 padding-left: 0px;
}
.project3-right h2 {
 font-size: 20px;
 margin: 5px;
}
.profile-picture {
 width: 100px;
 height: 150px;
 margin: 10px 0 10px 5px;
}
.left-info p{
 width: 110px;
 padding: 5px 5px 5px 5px;
 font-size: 10px;
}
.profile-left {
 width: 40%;
}
.skills-right {
 width: 60%;
}
.tablink {
 padding: 8px 2px;
 font-size: 9px;
 width: 32%;
}
.tabcontent {
 height: 52%;
 padding: 10px 3px;
}
.tabcontent ul {
 margin: -30px;
 line-height: 135%;
 margin-top: 20px;
}
.tabcontent li {
 font-size: 9px;
}
.blank-side{
 width: 40%;
 height: 42px;
}
.right-arrows {
 width: 90px;
 height: 143px;
}
.down-triangles {
 margin: 15px 96px;
}
.contact {
 height: 150px;
}
.contact-info {
   width: 100%;
   margin: 10px;
}
.contact-info h1 {
 font-size: 28px;
}
.contact-info p {
 font-size: 18px;
}
.footer {
 height: 30px;
}
footer nav ul {
 margin: 2px 0 2px 0px;
 padding: 5px;
}
footer nav ul > li {
 font-size: 8px;
 margin-right: 0px;
 margin-top: 5px;
}
.contact-btn {
   margin: 10px;
   height: 40px;
   font-size: 0.6em;
}
.profile-button {
 margin: 10px;
 font-size: 8px;
 width: 90px;
 padding: 8px;
 margin: 10px 0 10px 5px;
}
.button {
 margin: 10px;
 font-size: 8px;
 width: 90px;
 padding: 8px;
}


.bio-hero .left-info {
 padding-left: 19px;
 margin-top: 10px;
 width: 30%;
 height: 62px;
}
.bio-hero .katiesha-bio-pic {
 height: 130px;
 display: block;
 padding-left: 160px;
 margin-bottom: 5px;
}
.bio-hero .left-info h1 {
   font-size: 14px;
}
.bio-hero .left-info h3 {
 font-size: 12px;
 line-height: 10px;
}
.bio-info-left {
 width: 50%;
}
.bio-info-right {
 width: 50%;
}
.bio-info p {
 font-size: 10px;
 line-height: 20px;
 width: 130px;
}
.bio-info h4 {
font-size: 18px;
}
.bio-info-right h4 {
 margin-left: 47px;
 }
.left-wording {
 width: 140px;
 margin: 40px 20px 20px;
}
.right-wording {
 width: 174px;
 margin: 40px -10px 20px;
}
.contact-bio h1 {
 font-size: 40px;
 margin: 10px 0 5px 0;
}


.artsywoodoverlay {
   margin-left: 35px;
}
.cs-titles {
 margin: 0px;
}
.comp-analysis {
   margin-top: 20px;
}
.case-study-sections p {
 font-size: 16px;
 width: 100%;
}
.case-study-sections h6 {
   font-size: 18px;
}
.case-study-sections h5 {
   font-size: 20px;
}
.case-study-sections h3 {
   font-size: 22px;
}
.case-study-sections h2 {
   font-size: 24px;
}
.artsywoodcomputer {
   width: 75%;
   margin: 40px 20px;
}
.comp-talk p {
 padding: 10px;
 width: 90%;
}
.comp-talk {
height: 90%;
}
.artsywoodcomment {
   width: 63%;
   margin: 20px 0 20px 50px;
}
.artsywoodsunglasses {
   margin-left:50%;
   padding-top: 20px;
   padding-bottom: 20px;
}
.learned{
 height: 330px;
}
.learned h7 {
   font-size: 20px;
 }
.personas-info p {
 padding: 10px;
 width: 90%;
}
.personas-info {
 height: 100%;
}
.artsywoodpersona {
   margin-top: 20px;
}
.user-stories {
   margin-top: 20px;
}
.user-stories-info p {
 padding: 10px;
 width: 90%;
}
.user-stories-info {
 height: 100%;
}
.artsywooduserstories {
   width: 100%;
   margin-left: 10px;
}
.low-fi {
   margin-top: 20px;
}
.low-fi-info p {
 padding: 10px;
 width: 90%;
}
.low-fi-info {
 height: 100%;
}
.artsywoodlowfipic {
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.elements-and-type {
   margin-top: 20px;
}
.elements-and-type-info p {
 padding: 10px;
 width: 90%;
}
.elements-and-type-info {
 height: 100%;
}
.artsywoodcolors {
   width: 95%;
   margin-left: 20px;
}
.artsywoodlogos {
   width: 50%;
   margin-left: 90px;
   margin-top: 40px;
}
.artsywoodtwoelements {
   width: 100%;
   margin-left: 20px;
   margin-top: 40px;
}
.high-fi {
   margin-top: 20px;
}
.high-fi-info p {
 padding: 10px;
 width: 90%;
}
.high-fi-info {
 height: 100%;
}
.artsywoodhighfipic {
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.prototype-and-user-testing {
   margin-top: 20px;
}
.prototype-and-user-testing-info p {
 padding: 10px;
 width: 90%;
}
.prototype-and-user-testing-info {
 height: 100%;
}
.artsywoodprototypepic{
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.conclusion {
   margin-top: 20px;
}
.conclusion-info p {
 padding: 10px;
 width: 90%;
}
.conclusion-info {
 height: 100%;
}
.artsywoodonelogopic{
   width: 60%;
   margin-left: 70px;
}
.button-section {
   height: 150px;
   margin-left: 32px;
}
}

   /* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
h2 {
 font-size: 22px;
}
header nav ul > li {
 font-size: 12px;
}
header nav ul {
 padding: 5px;
}
header nav ul > li > a {
 padding: 12px 30px;
}
.hero .katiesha {
  width: 190px;
   height: 160px;
   margin: 10px auto 0;
}
 .hero .hero-overlay {
   top: 15px;
 }
 .hero .left-info{
   width: 29%;
   height: 75px;
 }
 .hero .left-info h1{
   font-size: 30px;
 }
 .hero .left-info h3{
   font-size: 15px;
   line-height: 0px;
 }
 .hero .left-info h2{
   font-size: 18px;
   line-height: 18px;
 }
 .hero .left-social-media {
   height: 32px;
   width: 21%;
   padding-left: 1px;
   margin: 10px 0 40px;
 }
 .Project1 {
   height: 150px;
 }
 .project1-left {
   flex: 60;
   background-color: #FFFFFF;
   margin-top: -15px;
   width: 121px;
 }
 .project1-right {
   flex: 40;
   background-color: #E7E1D3;
   text-align: right;
   width: 121px;
 }
 .storytime1 {
   width: 61%;
   height: 95%;
   margin: 9px 73px 55px;
 }

 .project1-right ul {
   margin-left: -28px;
 }
 .project1-right h2 {
   font-size: 25px;
   margin: 5px;
 }
 .project1-right-info {
   padding: 10px;
   width: 154px;
   height: 115px;
   margin-top: 15px;
   margin-left: 55px;
 }
 .project1-right ul > li {
   font-size: 10px;
   padding: 2px;
 }
 .Project2 {
   height: 180px;
 }
 .project2-left {
   flex: 80;
   background-color: #F4E9E7;
   width: 250px;
 }
 .project2-right {
   flex: 20;
   background-color: #FFFFFF;
   text-align: right;
   width: 70px;
 }
 .artsywood1 {
   width: 150%;
   height: 90%;
   margin: 12px -20px 20px -118px;
 }
 .project2-left ul {
   margin-left: 16px;
 }
 .project2-left h2 {
   font-size: 25px;
   margin: 5px;
 }
 .project2-left-info {
   padding: 20px;
   width: 185px;
   height: 115px;
   margin-top: 18px;
   margin-left: 90px;
 }
 .project2-left ul > li {
   font-size: 10px;
   padding: 2px;
   float: left;
 }
 .Project3 {
   height: 200px;
 }
 .Blocbox3 {
   width: 50%;
   height: 80%;
   margin: 32px -20px 32px 77px;
 }
 .project3-left{
   height: 200px;
   width: 68%;
 }
 .project3-right{
   height: 190px;
   width: 32%;
 }
 .project3-right-info {
   padding: 20px;
   width: 110px;
   height: 92px;
   margin-top: 20px;
   margin-left: 5px;
 }
 .project3-right ul > li {
   font-size: 10px;
   padding: 2px;
 }
 .project3-right ul {
   margin-left: 9px;
   padding-left: 0px;
 }
 .project3-right h2 {
   font-size: 25px;
   margin: 5px;
 }
 .profile-picture {
   width: 100px;
   height: 150px;
   margin: 10px 0 10px 5px;
 }
 .left-info p{
   width: 90%;
   padding: 5px 5px 5px 5px;
   font-size: 10px;
 }
 .profile-left {
   width: 40%;
 }
 .skills-right {
   width: 60%;
 }
 .tablink {
   padding: 8px 2px;
   font-size: 9px;
   width: 32%;
 }
 .tabcontent {
   height: 55%;
   padding: 10px 3px;
 }
 .tabcontent ul {
   margin: -30px;
   line-height: 135%;
   margin-top: 20px;
 }
 .tabcontent li {
   font-size: 9px;
 }
 .blank-side{
   width: 40%;
 }
 .right-arrows {
   width: 90px;
   margin-top: -70px;
 }
 .down-triangles {
   margin: 25px 10px 10px 122px;
 }
 .contact {
   height: 150px;
 }
 .contact-info {
     width: 100%;
     margin: 10px;
 }
 .contact-info h1 {
   font-size: 28px;
 }
 .contact-info p {
   font-size: 18px;
 }
 .footer {
   height: 30px;
 }
 footer nav ul {
   margin: 2px 0 2px 0px;
   padding: 5px;
 }
 footer nav ul > li {
   font-size: 8px;
   margin-right: 0px;
   margin-top: 5px;
 }
 .contact-btn {
     margin: 10px;
     height: 40px;
     font-size: 0.6em;
 }
 .profile-button {
   margin: 10px;
   font-size: 8px;
   width: 90px;
   padding: 8px;
   margin: 10px 0 10px 5px;
 }
 .button {
   margin: 10px;
   font-size: 8px;
   width: 90px;
   padding: 8px;
 }

 .bio-hero .left-info {
   padding-left: 19px;
   margin-top: 10px;
   width: 30%;
   height: 62px;
 }
 .bio-hero .katiesha-bio-pic {
   height: 140px;
   display: block;
   padding-left: 290px;
   margin-bottom: 5px;
 }
 .bio-hero .left-info h1 {
     font-size: 18px;
 }
 .bio-hero .left-info h3 {
   font-size: 16px;
   line-height: 10px;
 }
 .bio-info-left {
   width: 50%;
 }
 .bio-info-right {
   width: 50%;
 }
 .bio-info p {
   font-size: 16px;
   line-height: 25px;
   width: 200px;
 }
 .bio-info h4 {
  font-size: 20px;
  }
  .bio-info-right h4 {
   margin-left: 47px;
   }
 .left-wording {
   width: 140px;
   margin: 40px 20px 20px;
 }
 .right-wording {
   width: 174px;
   margin: 40px -10px 20px;
 }
 .contact-bio h1 {
   font-size: 40px;
   margin: 10px 0 5px 0;
 }

 .artsywoodoverlay {
     margin-left: 35px;
 }
 .cs-titles {
   margin: 0px;
 }
 .comp-analysis {
     margin-top: 20px;
 }
 .case-study-sections p {
   font-size: 16px;
   width: 100%;
 }
 .case-study-sections h6 {
     font-size: 20px;
 }
 .case-study-sections h5 {
     font-size: 22px;
 }
 .case-study-sections h3 {
     font-size: 24px;
 }
 .case-study-sections h2 {
     font-size: 26px;
 }
 .artsywoodcomputer {
     width: 75%;
     margin: 40px 20px;
 }
 .comp-talk p {
   padding: 10px;
   width: 90%;
 }
 .comp-talk {
 height: 90%;
 }
 .artsywoodcomment {
     width: 63%;
     margin: 20px 0 20px 50px;
 }
 .artsywoodsunglasses {
     margin-left:50%;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .learned{
   height: 330px;
 }
 .learned h7 {
     font-size: 20px;
     padding-left: 60px
   }
.learned p{
 width: 90%;
}
 .personas-info p {
   padding: 10px;
   width: 90%;
 }
 .personas-info {
   height: 100%;
 }
 .artsywoodpersona {
     margin-top: 20px;
 }
 .user-stories {
     margin-top: 20px;
 }
 .user-stories-info p {
   padding: 10px;
   width: 90%;
 }
 .user-stories-info {
   height: 100%;
 }
 .artsywooduserstories {
     width: 100%;
     margin-left: 10px;
 }
 .low-fi {
     margin-top: 20px;
 }
 .low-fi-info p {
   padding: 10px;
   width: 90%;
 }
 .low-fi-info {
   height: 100%;
 }
 .artsywoodlowfipic {
     width: 95%;
     margin-left: 20px;
     margin-top: 20px;
 }
 .elements-and-type {
     margin-top: 20px;
 }
 .elements-and-type-info p {
   padding: 10px;
   width: 90%;
 }
 .elements-and-type-info {
   height: 100%;
 }
 .artsywoodcolors {
     width: 95%;
     margin-left: 20px;
 }
.artsywoodlogos {
 width: 100%;
 margin-left: 0px;
 margin-top: 40px;
}
 .artsywoodtwoelements {
     width: 100%;
     margin-left: 20px;
     margin-top: 40px;
 }
 .high-fi {
     margin-top: 20px;
 }
 .high-fi-info p {
   padding: 10px;
   width: 90%;
 }
 .high-fi-info {
   height: 100%;
 }
 .artsywoodhighfipic {
     width: 95%;
     margin-left: 20px;
     margin-top: 20px;
 }
 .prototype-and-user-testing {
     margin-top: 20px;
 }
 .prototype-and-user-testing-info p {
   padding: 10px;
   width: 90%;
 }
 .prototype-and-user-testing-info {
   height: 100%;
 }
 .artsywoodprototypepic{
     width: 95%;
     margin-left: 20px;
     margin-top: 20px;
 }
 .conclusion {
     margin-top: 20px;
 }
 .conclusion-info p {
   padding: 10px;
   width: 90%;
 }
.conclusion-info {
   height: 100%;
 }
.artsywoodonelogopic{
     width: 100%;
     margin-left: 0px;
 }
 .button-section {
     height: 150px;
     margin-left: 31%;
 }
}

   /* Small Devices, Tablets */
@media only screen and (min-width : 769px) and (max-width : 991px) {
 h2 {
   font-size: 24px;
 }
 header nav ul > li {
   font-size: 14px;
 }
 header nav ul {
   padding: 10px;
 }
 header nav ul > li > a {
   padding: 12px 30px;
 }
.hero .katiesha {
 width: 445px;
 height: 330px;
 margin: 10px auto 0;
}
.hero .hero-overlay {
 top: 110px;
}
.hero .left-info{
 width: 25%;
 height: 92px;
}
.hero .left-info h1{
 font-size: 40px;
}
.hero .left-info h3{
 font-size: 18px;
 line-height: 0px;
}
.hero .left-info h2{
 font-size: 25px;
 line-height: 20px;
}
.hero .left-social-media {
 height: 32px;
 width: 13%;
 padding-left: 1px;
 margin: 10px 0 40px;
}
.Project1 {
 height: 250px;
}
.project1-left {
     flex: 60;
     background-color: #FFFFFF;
     margin-top: -30px;
     width: 121px;
   }
   .project1-right {
     flex: 40;
     background-color: #E7E1D3;
     text-align: right;
     width: 121px;
   }
.storytime1 {
 width: 325px;
 height: 225px;
 margin: 37px 0 0px 160px;
}
.project1-right ul {
 margin-left: -28px;
}
.project1-right h2 {
 font-size: 30px;
 margin: 5px;
}
.project1-right-info {
 padding: 10px;
 width: 184px;
 height: 115px;
 margin-top: 55px;
 margin-left: 55px;
}
.project1-right ul > li {
 font-size: 12px;
 padding: 3px;
}
.Project2 {
 height: 250px;
}
.project2-left {
     flex: 80;
     background-color: #F4E9E7;
     width: 250px;
   }
   .project2-right {
     flex: 20;
     background-color: #FFFFFF;
     text-align: right;
     width: 70px;
   }
   .artsywood1 {
     width: 325px;
     height: 225px;
     margin: 16px 57px 20px -121px;
   }
   .project2-left ul {
     margin-left: -18px;
   }
   .project2-left h2 {
     font-size: 30px;
     margin: 5px;
   }
   .project2-left-info {
     padding: 20px;
     width: 153px;
     height: 115px;
     margin-top: 55px;
     margin-left: 140px;
   }
   .project2-left ul > li {
     font-size: 12px;
     padding: 3px;
     float: left;
   }
   .Project3 {
     height: 250px;
   }
   .Blocbox3 {
     width: 325px;
     height: 225px;
     margin: 36px  116px 55px;
   }
   .project3-left{
     height: 270px;
     width: 68%;
   }
   .project3-right{
     height: 270px;
     width: 32%;
   }
   .project3-right-info {
     padding: 20px;
     width: 135px;
     height: 115px;
     margin-top: 40px;
     margin-left: 44px;
   }
   .project3-right ul > li {
     font-size: 12px;
     padding: 3px;
   }
   .project3-right ul {
     margin-left: 8px;
     padding-left: 0px;
   }
   .project3-right h2 {
     font-size: 30px;
     margin: 5px;
   }
   .profile-picture {
     width: 100px;
     height: 150px;
     margin: 10px 0 10px 5px;
   }
   .left-info p{
     width: 90%;
     padding: 5px 5px 5px 5px;
     font-size: 12px;
   }
   .profile-left {
     width: 40%;
   }
   .skills-right {
     width: 60%;
     margin-top: -30px;
   }
   .tablink {
     padding: 8px 2px;
     font-size: 9px;
     width: 32%;
   }
   .tabcontent {
     height: 54%;
     padding: 10px 3px;
   }
   .tabcontent ul {
     margin: -30px;
     line-height: 135%;
     margin-top: 20px;
   }
 .tabcontent li {
   font-size: 12px;
   }
 .blank-side{
   width: 40%;
   }
 .right-arrows {
   width: 90px;
   margin-top: -68px;
   }
 .down-triangles {
   margin: 25px 10px 10px 135px;
   }
 .contact {
   height: 150px;
   }
 .contact-info {
   width: 100%;
   margin: 10px;
   }
 .contact-info h1 {
   font-size: 28px;
   }
 .contact-info p {
   font-size: 18px;
   }
 .footer {
   height: 30px;
   }
 footer nav ul {
   margin: 2px 0 2px 0px;
   padding: 5px;
   }
 footer nav ul > li {
   font-size: 10px;
   margin-right: 0px;
   margin-top: 5px;
   }
 .contact-btn {
   margin: 10px;
   height: 40px;
   font-size: 0.6em;
   }
.profile-button {
 margin: 10px;
 font-size: 8px;
 width: 90px;
 padding: 8px;
 margin: 10px 0 10px 5px;
   }
.button {
 margin: 10px;
 font-size: 12px;
 width: 110px;
 padding: 12px;
}


.bio-hero .left-info {
 padding-left: 19px;
 margin-top: 40px;
 width: 30%;
 height: 62px;
}
.bio-hero .katiesha-bio-pic {
 height: 200px;
 display: block;
 padding-left: 500px;
 margin-bottom: 5px;
}
.bio-hero .left-info h1 {
   font-size: 24px;
}
.bio-hero .left-info h3 {
 font-size: 20px;
 line-height: 10px;
}
.bio-info-left {
 width: 50%;
}
.bio-info-right {
 width: 50%;
}
.bio-info p {
 font-size: 20px;
 line-height: 30px;
 width: 330px;
}
.bio-info h4 {
font-size: 24px;
}
.bio-info-right h4 {
 margin-left: 47px;
 }
.left-wording {
 width: 330px;
 margin: 40px 20px 20px;
}
.right-wording {
 width: 200px;
 margin: 40px -10px 20px;
}
.contact-bio h1 {
 font-size: 40px;
 margin: 10px 0 5px 0;
}
.artsywoodoverlay {
   margin-left: 35px;
}
.cs-titles {
 margin: 0px;
}
.comp-analysis {
   margin-top: 20px;
}
.case-study-sections p {
 font-size: 16px;
 width: 100%;
}
.case-study-sections h6 {
   font-size: 20px;
}
.case-study-sections h5 {
   font-size: 22px;
}
.case-study-sections h3 {
   font-size: 24px;
}
.case-study-sections h2 {
   font-size: 26px;
}
.artsywoodcomputer {
   width: 95%;
   margin: 40px 40px;
}
.comp-talk p {
 padding: 10px;
 width: 90%;
}
.comp-talk {
height: 90%;
}
.artsywoodcomment {
   width: 63%;
   margin: 20px 0 20px 90px;
}
.artsywoodsunglasses {
   margin-left:50%;
   padding-top: 20px;
   padding-bottom: 20px;
}
.learned{
 height: 330px;
}
.learned h7 {
   font-size: 20px;
   padding-left:200px
 }
.personas-info p {
 padding: 10px;
 width: 90%;
}
.personas-info {
 height: 100%;
}
.artsywoodpersona {
   margin-top: 20px;
}
.user-stories {
   margin-top: 20px;
}
.user-stories-info p {
 padding: 10px;
 width: 90%;
}
.user-stories-info {
 height: 100%;
}
.artsywooduserstories {
   width: 100%;
   margin-left: 10px;
}
.low-fi {
   margin-top: 20px;
}
.low-fi-info p {
 padding: 10px;
 width: 90%;
}
.low-fi-info {
 height: 100%;
}
.artsywoodlowfipic {
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.elements-and-type {
   margin-top: 20px;
}
.elements-and-type-info p {
 padding: 10px;
 width: 90%;
}
.elements-and-type-info {
 height: 100%;
}
.artsywoodcolors {
   width: 95%;
   margin-left: 20px;
}
.artsywoodlogos {
width: 100%;
margin-left: 0px;
margin-top: 40px;
}
.artsywoodtwoelements {
   width: 100%;
   margin-left: 20px;
   margin-top: 40px;
}
.high-fi {
   margin-top: 20px;
}
.high-fi-info p {
 padding: 10px;
 width: 90%;
}
.high-fi-info {
 height: 100%;
}
.artsywoodhighfipic {
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.prototype-and-user-testing {
   margin-top: 20px;
}
.prototype-and-user-testing-info p {
 padding: 10px;
 width: 90%;
}
.prototype-and-user-testing-info {
 height: 100%;
}
.artsywoodprototypepic{
   width: 95%;
   margin-left: 20px;
   margin-top: 20px;
}
.conclusion {
   margin-top: 20px;
}
.conclusion-info p {
 padding: 10px;
 width: 90%;
}
.conclusion-info {
 height: 100%;
}
.artsywoodonelogopic{
   width: 60%;
   margin-left: 20%;
}
.button-section {
   height: 150px;
   margin-left: 35%;
}
}



   /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
 .hero .left-social-media {
   width: 10%
}
.storytime1 {
    width: 500px;
    height: 345px;
   margin: 80px -10px 50px 124px;
}
.artsywood1 {
   width: 500px;
   height: 345px;
   margin: 50px 73px 50px -150px;
 }
 .project2-left-info {
   margin-left: 27px;
 }
 .Blocbox3 {
   width: 500px;
   height: 345px;
   margin: 70px 0 50px 30px;
 }
 .project3-right {
   width: 40%;
 }
 .project3-right-info {
   margin: 120px 50px 50px 22px;
 }
 .project3-left {
   width: 60%;
 }
 .left-info p{
   width: 90%;
   padding: 5px 5px 5px 5px;
   font-size: 12px;
 }
 .profile-left {
   width: 40%;
 }
 .skills-right {
   width: 60%;
   margin-top: -30px;
 }
 .tablink {
   padding: 15px 2px;
   font-size: 12px;
   width: 32%;
 }
 .tabcontent {
   height: 52%;
   padding: 10px 3px;
 }
 .tabcontent ul {
   margin: -30px;
   line-height: 200%;
   margin-top: 50px;
 }
.tabcontent li {
 font-size: 14px;
 }
.blank-side{
 width: 40%;
 }
.right-arrows {
 flex: 70;
 width: 90px;
 margin-top: -210px;
 z-index: 0;
 }
.down-triangles {
 margin: 50px 250px;
 }
.contact {
   height: 250px;
}
.contact-info {
   width: 100%;
   margin: 10px;
   }
.footer {
 height: 96px;
   }
footer nav ul {
 margin: 2px 0 2px 0px;
 padding: 35px;
}
 footer nav ul > li {
   font-size: 12px;
   margin-right: 0px;
   margin-top: 5px;
   }
   .bio-hero .left-info {
   padding-left: 19px;
   margin-top: 40px;
   width: 30%;
   height: 62px;
 }
 .bio-hero .katiesha-bio-pic {
   height: 230px;
   display: block;
   padding-left: 500px;
   margin-bottom: 5px;
 }
 .bio-hero .left-info h1 {
     font-size: 24px;
 }
 .bio-hero .left-info h3 {
   font-size: 20px;
   line-height: 10px;
 }
 .bio-info-left {
   width: 50%;
 }
 .bio-info-right {
   width: 50%;
 }
 .bio-info p {
   font-size: 20px;
   line-height: 30px;
   width: 330px;
 }
 .bio-info h4 {
  font-size: 24px;
  }
  .bio-info-right h4 {
   margin-left: 47px;
   }
 .left-wording {
   width: 330px;
   margin: 40px 20px 30px;
 }
 .right-wording {
   width: 200px;
   margin: 40px -10px 20px;
 }
 .contact-bio h1 {
   font-size: 40px;
   margin: 10px 0 5px 0;
 }
}

@media only screen and (min-width : 1199px) and (max-width : 2500px) {
.tabcontent {
  height: 57%;
}
}
