html, body {
  /*overflow-x: hidden;*/
}

/*HEADER*/
header {
  background: #F4E9E7;
  width: 100%;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: #FAF5ED;
}
header nav ul > li {
  font-size: 18px;
  float: left;
}
header nav ul > li > a {
  color:#D99D53;
  display: block;
  color: #D99D53;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#E0B3AD;
}
.hero {
  position: relative;
}
.hero .hero-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
.hero .left-info {
  background: #FFFFFF;
  width: 20%;
  height: 105px;
  text-align: center;
}
.hero .left-info h1 {
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  color: #000000;
}
.hero .left-info h3 {
  font-size: 28px;
  line-height: 10px;
  font-weight: medium;
  color: #D99D53;
  margin:5px 0 40px;
}
.hero .left-social-media {
  background: #FFFFFF;
  width: 8%;
  height: 35px;
  margin:20px 0 40px;
  padding-left:10px;
}
.hero .social-media-info{
  padding: 5px;
}
.hero .left-social-media a {
  display: inline-block;
}
.hero .katiesha  {
  display: block;
  margin: 40px auto 0;
  width:630px;
  height:572px;
}

/*FONT SIZE/TYPE*/
 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}
 h2{
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  color: #D99D53;
}
 h3{
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
  font-weight: 100;
}
 p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
 li{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
 ul.top-stuff{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #D99D53;
}
 li.Design-Container, li.Software-Container, li.Languages-Container{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
 ul.Design-Skills, ul.Software-Types, ul.Language-Types{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
 btn-outline{
  color:#D99D53;
}

/*PROJECT ONE*/
.Project1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.project1-left {
  flex: 55;
  background-color: #FFFFFF;
  margin-top: -50px;
  z-index: 1;
  width: 350px;
}
.project1-right {
  flex: 45;
  background-color: #E7E1D3;
  text-align: right;
}
.storytime1 {
  margin: 80px -10px 50px 210px;
}
.project1-right-info {
  padding: 30px;
  width: 350px;
  height: 185px;
  margin-top: 70px;
  margin-left: 50px;
  text-align: center;
}
.project1-right h2{
  color: #D99D53;
  margin: 10px;
  font-size: 50px;
}
.project1-right ul {
 list-style-type: none;
 margin: 5px;
}
.project1-right ul > li {
 font-size: 18px;
 float: left;
 padding: 5px;
}
.storytime1 {
  width: 550px;
  height: 390px;
}




/*PROJECT TWO*/
.Project2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.project2-left {
  flex: 80;
  background-color: #F4E9E7;
  text-align: center;
  z-index: 1;
}
.project2-right-pic-section {
  flex: 20;
  background-color: #FFFFFF;
  z-index: 1;
}
.artsywood1 {
  margin: 50px 90px 50px -150px
}
.project2-left-info {
  padding: 30px;
  width: 350px;
  height: 185px;
  margin-top: 145px;
  margin-left: 90px;
  text-align: center;
}
.project2-left h2{
  color: #D99D53;
  margin: 10px;
  font-size: 50px;
}
.project2-left ul {
 list-style-type: none;
 margin: 5px 0 5px -80px;
 width: 400px;
 padding: 0px;
}
.project2-left ul > li {
 font-size: 18px;
 float: right;
 padding: 5px;
}
.artsywood1 {
  width: 550px;
  height: 390px;
}


/*PROJECT THREE*/
.Project3 {
  height: 458px;
}
.project3-left {
  float: left;
  width: 50%;
  height: 478px;
  background-color: #E7E1D3;
  margin-top: -20px;
}
.project3-right {
  float: right;
  width: 50%;
  height: 458px;
  background-color: #E7E1D3;
}
.Blocbox3 {
  margin: 50px 0 50px 30px;
}
.project3-right-info{
  width: 306px;
  margin: 110px 50px 50px 175px;
}
.project3-right h2{
  color: #D99D53;
  margin-bottom: 5px;
  text-align: center;
  font-size: 50px;
}
.project3-right ul {
  list-style-type: none;
  margin: 5px 0px 5px 0;
  padding-left: 62px;
}
.project3-right ul > li {
 font-size: 18px;
 float:left;
 padding: 5px;
}
.Blocbox3 {
  width: 550px;
  height: 390px;
}

/*PROJECT BUTTONS*/
.button {
  display: inline-block;
  border-radius: 30px;
  background-color: #FFFFFF;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #D99D53;
  text-align:center;
  font-size: 22px;
  font-weight: lighter;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}
.button span{
 cursor:pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.button span:after{
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.button:hover span{
 padding-right: 25px;
}
.button:hover span:after{
 opacity: 1;
 right: 0
}

/*PROFILE AND SKILLS SECTION*/

/* PROFILE */
.Profile-and-Skills{
 display: flex;
 flex-direction: row;
 align-items: stretch;
 justify-content: center;
 width: 100%;
}
.profile-left{
 flex: 30;
 background-color: #FFFFFF;
 text-align: center;
 z-index: 1;
}
.profile-picture{
 margin: 50px 20px 50px 20px;
}

.left-info p{
  width: 270px;
  padding-left: 56px;
  font-weight: lighter;
  margin-top: 5px;
}
.profile-picture {
  width:250px;
  height:350px;
}

/* profile button */
.profile-button {
  display: inline-block;
  border-radius: 30px;
  background-color: #D99D53;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  text-align:center;
  font-size: 22px;
  font-weight: lighter;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
}
.profile-button span {
 cursor:pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}
.profile-button span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}
.profile-button:hover span {
 padding-right: 25px;
}
.profile-button:hover span:after {
 opacity: 1;
 right: 0
}

/* SKILLS */
.skills-right {
 flex: 70;
 margin-top: -20px;
 margin-bottom: 10px;
 background-color: #F4E9E7;
}
.skills-right h2 {
 color: #D99D53;
 text-align: center;
}
.tablink {
 background-color: #FFFFFF;
 color: #000000;
 float: right;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 10px 20px;
 font-size: 20px;
 font-family: 'Montserrat', sans-serif;
 width: 30%;
}
.tablink:hover {
  text-decoration: underline;
  text-decoration-color: #D99D53;
}
.tabcontent {
  background-image: url("http://siteimages/goldbackground.png");
  color: #000000;
  display: none;
  padding: 60px 20px;
 height: 25%;
 font-weight: lighter;
}
.tabcontent ul {
  margin: 30px 30px;
  line-height:200%
}
#Languages {background-color: #CACACA;}
#Software {background-color: #CACACA;}
#Design {background-color: #CACACA;}


/*DESIGN ELEMENT ARROWS*/
.design-element{
 display: flex;
 height: 100px;
 width: 100%;
}
.blank-side {
  flex: 30;
  background: #F6F6F6;
}
.right-arrows {
  flex: 70;
  background: #F6F6F6;
  margin-top: -101px;
  z-index: 1;
  width: 350px;
}
.down-triangles {
  margin: 50px 448px 50px 448px;
}

/* CONTACT ME SECTION */
.contact {
  background: #FFFFFF;
  height: 342px;
}

.contact-info {
  width: 470px;
  margin: 50px 0 50px 430px;
  text-align: center;
}
.contact-info h1 {
  color: #D99D53;
  font-family: 'Cormorant Garamond', serif;
  font-size: 65px;
  margin: 50px 0 5px 0;
}
.contact-info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin: 5px 0 5px 0;
  font-size: 24px;
}


/* email button */
.contact-btn{
  margin: 50px;
  background:#D99D53;
  color:#FFFFFF;
  font-weight: lighter;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  text-decoration: none;
}
.contact-btn:hover{
  background:#fff;
  color:#000000;
}
.contact-btn:before,.contact-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #D99D53;
  transition:400ms ease all;
}
.contact-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.contact-btn:hover:before, .contact-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}
.contact-btn a  {
  text-decoration: none;
  color: inherit;
}

/* FOOTER */
.footer {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  background: #E0C2C2
}
footer nav ul {
  list-style-type: none;
  margin: 0 0 0 350px;
  padding: 40px;
  overflow: hidden;
}
footer nav ul > li {
  font-size: 14px;
  margin-right: 296px;




/************* PAGE 2: ABOUT PAGE *************************/

.bio-hero{
  background: #FFFFFF;
}
.bio-hero .hero-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
.bio-hero .left-info {
  padding-left: 40px;
  margin-top: 140px;
  width: 22%;
  height: 70px;
  text-align: center;
}
.bio-hero .left-info h1 {
  font-size: 40px;
  font-weight:lighter;
  margin: 0;
  color: #000000;
}
.bio-hero .left-info h3 {
  font-size: 28px;
  line-height: 10px;
  font-weight: medium;
  color: #D99D53;
  margin:5px 0 40px;
}
.bio-hero .katiesha-bio-pic  {
  height: 370px;
  display: block;
  padding-left: 688px;
  margin-bottom: 20px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  color: #D99D53;
  margin-bottom: 0px;
}
.bio-info {
  display: flex;
  position: relative;
  z-index: -1;
}
.bio-info-left{
  flex: 50%;
  background: #F2E2E2;
}
 .left-wording{
   margin: 100px 50px 50px 50px;
   width: 480px;
 }
.bio-info-right{
  flex: 50%;
  background: #F1F1F1;
}
.bio-info-right h4{
  margin-left: 50px;
}
.right-wording{
  margin: 100px 50px 50px 50px;
  width: 480px;
}
.right-wording p{
  margin-left: 50px;
}
.bio-info p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 40px;
  width: 392px;
  font-weight: lighter;
  margin-top: 0px;
}
.contact-bio {
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}
.contact-bio:before, .contact-bio:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.contact-bio:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.contact-bio:after {
  bottom: 35px;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
.contact-bio {
  color: #D99D53;
  font-family: 'Cormorant Garamond', serif;
  padding: 10px;
  text-align: center;
}
.contact-bio h1{
  font-family: 'Cormorant Garamond', serif;
  color: #D99D53;
  font-size: 65px;
  margin: 50px 0 5px 0;
}

/*****************MEDIA QUERIES************************/
@media screen and (min-width : 320px) and (max-width : 479px)  {
h2 {
  font-size: 15px;
  }
header nav ul > li {
  font-size: 12px;
}
header nav ul {
    padding: 5px;
}
header nav ul > li > a {
  padding: 12px 12px;
}
.hero .katiesha {
   width: 230px;
    height: 180px;
    margin: 10px auto 0;
}
.hero .hero-overlay {
  top: 65px;
}
.hero .left-info{
  width: 25%;
  height: 40px;
}
.hero .left-info h1{
  font-size: 22px;
}
.hero .left-info h3{
  font-size: 10px;
  line-height: 5px;
}
.hero .left-social-media {
  height: 28px;
  width: 31%;
  padding-left: 1px;
}
.Project1 {
  height: 150px;
}
.project1-left {
  flex: 60;
  background-color: #FFFFFF;
  margin-top: -15px;
  width: 121px;
}
.project1-right {
  flex: 40;
  background-color: #E7E1D3;
  text-align: right;
  width: 121px;
}
.storytime1 {
  width: 160px;
  height: 115px;
  margin: 32px -20px 32px 55px;
}

.project1-right ul {
  margin-left: -21px;
}
.project1-right h2 {
  font-size: 15px;
  margin: 5px;
}
.project1-right-info {
  padding: 20px;
  width: 115px;
  height: 115px;
  margin-top: 5px;
  margin-left: -10px;
}
.project1-right ul > li {
  font-size: 5px;
  padding: 2px;
}
.Project2 {
  height: 150px;
}
.project2-left {
  flex: 80;
  background-color: #F4E9E7;
  width: 250px;
}
.project2-right {
  flex: 20;
  background-color: #FFFFFF;
  text-align: right;
  width: 70px;
}
.artsywood1 {
  width: 160px;
  height: 115px;
  margin: 20px -20px 20px -110px;
}
.project2-left ul {
  margin-left: 16px;
}
.project2-left h2 {
  font-size: 15px;
  margin: 5px;
}
.project2-left-info {
  padding: 20px;
  width: 115px;
  height: 115px;
  margin-top: 5px;
  margin-left: -10px;
}
.project2-left ul > li {
  font-size: 5px;
  padding: 2px;
  float: left;
}
.Project3 {
  height: 150px;
}
.Blocbox3 {
  width: 160px;
  height: 115px;
  margin: 32px -20px 32px 55px;
}
.project3-left{
  height: 150px;
  width: 68%;
}
.project3-right{
  height: 150px;
  width: 32%;
}
.project3-right-info {
  padding: 20px;
  width: 115px;
  height: 115px;
  margin-top: 5px;
  margin-left: -28px;
}
.project3-right ul > li {
  font-size: 5px;
  padding: 2px;
}
.project3-right ul {
  margin-left: 30px;
  padding-left: 0px;
}
.project3-right h2 {
  font-size: 15px;
  margin: 5px;
}
.profile-picture {
  width: 100px;
  height: 150px;
  margin: 10px 0 10px 5px;
}
.left-info p{
  width: 110px;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}
.profile-left {
  width: 40%;
}
.skills-right {
  width: 60%;
}
.tablink {
  padding: 8px 2px;
  font-size: 9px;
  width: 32%;
}
.tabcontent {
  height: 52%;
  padding: 10px 3px;
}
.tabcontent ul {
  margin: -30px;
  line-height: 135%;
  margin-top: 20px;
}
.tabcontent li {
  font-size: 9px;
}
.blank-side{
  width: 40%;
}
.right-arrows {
  width: 90px;
}
.down-triangles {
  margin: 25px 10px 10px 62px;
}
.contact {
  height: 150px;
}
.contact-info {
    width: 100%;
    margin: 10px;
}
.contact-info h1 {
  font-size: 28px;
}
.contact-info p {
  font-size: 18px;
}
.footer {
  height: 30px;
}
footer nav ul {
  margin: 2px 0 2px 0px;
  padding: 5px;
}
footer nav ul > li {
  font-size: 8px;
  margin-right: 0px;
  margin-top: 5px;
}
.contact-btn {
    margin: 10px;
    height: 40px;
    font-size: 0.6em;
}
.profile-button {
  margin: 10px;
  font-size: 8px;
  width: 90px;
  padding: 8px;
  margin: 10px 0 10px 5px;
}
.button {
  margin: 10px;
  font-size: 8px;
  width: 90px;
  padding: 8px;
}
.bio-hero .left-info {
  padding-left: 19px;
  margin-top: 10px;
  width: 30%;
  height: 62px;
}
.bio-hero .katiesha-bio-pic {
  height: 130px;
  display: block;
  padding-left: 160px;
  margin-bottom: 5px;
}
.bio-hero .left-info h1 {
    font-size: 14px;
}
.bio-hero .left-info h3 {
  font-size: 12px;
  line-height: 10px;
}
.bio-info-left {
  width: 50%;
}
.bio-info-right {
  width: 50%;
}
.bio-info p {
  font-size: 10px;
  line-height: 20px;
  width: 130px;
}
.bio-info h4 {
 font-size: 18px;
 }
 .bio-info-right h4 {
  margin-left: 47px;
  }
.left-wording {
  width: 140px;
  margin: 40px 20px 20px;
}
.right-wording {
  width: 174px;
  margin: 40px -10px 20px;
}
.contact-bio h1 {
  font-size: 40px;
  margin: 10px 0 5px 0;
}
}


    /* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {
h2 {
  font-size: 22px;
}
header nav ul > li {
  font-size: 12px;
}
header nav ul {
  padding: 5px;
}
header nav ul > li > a {
  padding: 12px 30px;
}
.hero .katiesha {
  width: 270px;
  height: 182px;
  margin: 10px auto 0;
  }
  .hero .hero-overlay {
    top: 65px;
  }
  .hero .left-info{
    width: 25%;
    height: 40px;
  }
  .hero .left-info h1{
    font-size: 24px;
  }
  .hero .left-info h3{
    font-size: 12px;
    line-height: 0px;
  }
  .hero .left-social-media {
    height: 32px;
    width: 21%;
    padding-left: 1px;
    margin: 10px 0 40px;
  }
  .Project1 {
    height: 150px;
  }
  .project1-left {
    flex: 60;
    background-color: #FFFFFF;
    margin-top: -15px;
    width: 121px;
  }
  .project1-right {
    flex: 40;
    background-color: #E7E1D3;
    text-align: right;
    width: 121px;
  }
  .storytime1 {
    width: 160px;
    height: 115px;
    margin: 32px -20px 32px 55px;
  }

  .project1-right ul {
    margin-left: -28px;
  }
  .project1-right h2 {
    font-size: 15px;
    margin: 5px;
  }
  .project1-right-info {
    padding: 10px;
    width: 136px;
    height: 115px;
    margin-top: 21px;
    margin-left: 8px;
  }
  .project1-right ul > li {
    font-size: 8px;
    padding: 2px;
  }
  .Project2 {
    height: 150px;
  }
  .project2-left {
    flex: 80;
    background-color: #F4E9E7;
    width: 250px;
  }
  .project2-right {
    flex: 20;
    background-color: #FFFFFF;
    text-align: right;
    width: 70px;
  }
  .artsywood1 {
    width: 160px;
    height: 115px;
    margin: 20px -20px 20px -110px;
  }
  .project2-left ul {
    margin-left: 16px;
  }
  .project2-left h2 {
    font-size: 15px;
    margin: 5px;
  }
  .project2-left-info {
    padding: 20px;
    width: 153px;
    height: 115px;
    margin-top: 5px;
    margin-left: 35px;
  }
  .project2-left ul > li {
    font-size: 8px;
    padding: 2px;
    float: left;
  }
  .Project3 {
    height: 150px;
  }
  .Blocbox3 {
    width: 160px;
    height: 115px;
    margin: 32px -20px 32px 55px;
  }
  .project3-left{
    height: 150px;
    width: 68%;
  }
  .project3-right{
    height: 150px;
    width: 32%;
  }
  .project3-right-info {
    padding: 20px;
    width: 106px;
    height: 80px;
    margin-top: 5px;
    margin-left: -50px;
  }
  .project3-right ul > li {
    font-size: 8px;
    padding: 2px;
  }
  .project3-right ul {
    margin-left: 17px;
    padding-left: 0px;
  }
  .project3-right h2 {
    font-size: 15px;
    margin: 5px;
  }
  .profile-picture {
    width: 100px;
    height: 150px;
    margin: 10px 0 10px 5px;
  }
  .left-info p{
    width: 90%;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
  }
  .profile-left {
    width: 40%;
  }
  .skills-right {
    width: 60%;
  }
  .tablink {
    padding: 8px 2px;
    font-size: 9px;
    width: 32%;
  }
  .tabcontent {
    height: 52%;
    padding: 10px 3px;
  }
  .tabcontent ul {
    margin: -30px;
    line-height: 135%;
    margin-top: 20px;
  }
  .tabcontent li {
    font-size: 9px;
  }
  .blank-side{
    width: 40%;
  }
  .right-arrows {
    width: 90px;
  }
  .down-triangles {
    margin: 25px 10px 10px 62px;
  }
  .contact {
    height: 150px;
  }
  .contact-info {
      width: 100%;
      margin: 10px;
  }
  .contact-info h1 {
    font-size: 28px;
  }
  .contact-info p {
    font-size: 18px;
  }
  .footer {
    height: 30px;
  }
  footer nav ul {
    margin: 2px 0 2px 0px;
    padding: 5px;
  }
  footer nav ul > li {
    font-size: 8px;
    margin-right: 0px;
    margin-top: 5px;
  }
  .contact-btn {
      margin: 10px;
      height: 40px;
      font-size: 0.6em;
  }
  .profile-button {
    margin: 10px;
    font-size: 8px;
    width: 90px;
    padding: 8px;
    margin: 10px 0 10px 5px;
  }
  .button {
    margin: 10px;
    font-size: 8px;
    width: 90px;
    padding: 8px;
  }


  .bio-hero .left-info {
    padding-left: 19px;
    margin-top: 10px;
    width: 30%;
    height: 62px;
  }
  .bio-hero .katiesha-bio-pic {
    height: 140px;
    display: block;
    padding-left: 290px;
    margin-bottom: 5px;
  }
  .bio-hero .left-info h1 {
      font-size: 18px;
  }
  .bio-hero .left-info h3 {
    font-size: 16px;
    line-height: 10px;
  }
  .bio-info-left {
    width: 50%;
  }
  .bio-info-right {
    width: 50%;
  }
  .bio-info p {
    font-size: 16px;
    line-height: 25px;
    width: 200px;
  }
  .bio-info h4 {
   font-size: 20px;
   }
   .bio-info-right h4 {
    margin-left: 47px;
    }
  .left-wording {
    width: 140px;
    margin: 40px 20px 20px;
  }
  .right-wording {
    width: 174px;
    margin: 40px -10px 20px;
  }
  .contact-bio h1 {
    font-size: 40px;
    margin: 10px 0 5px 0;
  }
}

    /* Small Devices, Tablets */
@media only screen and (min-width : 769px) and (max-width : 991px) {
  h2 {
    font-size: 24px;
  }
  header nav ul > li {
    font-size: 14px;
  }
  header nav ul {
    padding: 10px;
  }
  header nav ul > li > a {
    padding: 12px 30px;
  }
.hero .katiesha {
  width: 445px;
  height: 330px;
  margin: 10px auto 0;
}
.hero .hero-overlay {
  top: 110px;
}
.hero .left-info{
  width: 25%;
  height: 65px;
}
.hero .left-info h1{
  font-size: 40px;
}
.hero .left-info h3{
  font-size: 18px;
  line-height: 0px;
}
.hero .left-social-media {
  height: 32px;
  width: 13%;
  padding-left: 1px;
  margin: 10px 0 40px;
}
.Project1 {
  height: 250px;
}
.project1-left {
      flex: 60;
      background-color: #FFFFFF;
      margin-top: -30px;
      width: 121px;
    }
    .project1-right {
      flex: 40;
      background-color: #E7E1D3;
      text-align: right;
      width: 121px;
    }
.storytime1 {
  width: 325px;
  height: 225px;
  margin: 37px 0 0px 160px;
}
.project1-right ul {
  margin-left: -28px;
}
.project1-right h2 {
  font-size: 30px;
  margin: 5px;
}
.project1-right-info {
  padding: 10px;
  width: 184px;
  height: 115px;
  margin-top: 55px;
  margin-left: 55px;
}
.project1-right ul > li {
  font-size: 12px;
  padding: 3px;
}
.Project2 {
  height: 250px;
}
.project2-left {
  flex: 80;
  background-color: #F4E9E7;
  width: 250px;
}
.project2-right {
  flex: 20;
  background-color: #FFFFFF;
  text-align: right;
  width: 70px;
}
.artsywood1 {
  width: 325px;
  height: 225px;
  margin: 16px 57px 20px -121px;
}
.project2-left ul {
  margin-left: -18px;
}
.project2-left h2 {
  font-size: 30px;
  margin: 5px;
}
.project2-left-info {
  padding: 20px;
  width: 153px;
  height: 115px;
  margin-top: 55px;
  margin-left: 140px;
}
.project2-left ul > li {
  font-size: 12px;
  padding: 3px;
  float: left;
}
.Project3 {
  height: 250px;
}
.Blocbox3 {
      width: 325px;
      height: 225px;
      margin: 36px  116px 55px;
    }
    .project3-left{
      height: 270px;
      width: 68%;
    }
    .project3-right{
      height: 270px;
      width: 32%;
    }
    .project3-right-info {
      padding: 20px;
      width: 135px;
      height: 115px;
      margin-top: 40px;
      margin-left: 44px;
    }
    .project3-right ul > li {
      font-size: 12px;
      padding: 3px;
    }
    .project3-right ul {
      margin-left: 8px;
      padding-left: 0px;
    }
    .project3-right h2 {
      font-size: 30px;
      margin: 5px;
    }
    .profile-picture {
      width: 100px;
      height: 150px;
      margin: 10px 0 10px 5px;
    }
    .left-info p{
      width: 90%;
      padding: 5px 5px 5px 5px;
      font-size: 12px;
    }
    .profile-left {
      width: 40%;
    }
    .skills-right {
      width: 60%;
      margin-top: -30px;
    }
    .tablink {
      padding: 8px 2px;
      font-size: 9px;
      width: 32%;
    }
    .tabcontent {
      height: 52%;
      padding: 10px 3px;
    }
    .tabcontent ul {
      margin: -30px;
      line-height: 135%;
      margin-top: 20px;
    }
  .tabcontent li {
    font-size: 12px;
    }
  .blank-side{
    width: 40%;
    }
  .right-arrows {
    width: 90px;
    margin-top: -68px;
    }
  .down-triangles {
    margin: 25px 10px 10px 135px;
    }
  .contact {
    height: 150px;
    }
  .contact-info {
    width: 100%;
    margin: 10px;
    }
  .contact-info h1 {
    font-size: 28px;
    }
  .contact-info p {
    font-size: 18px;
    }
  .footer {
    height: 30px;
    }
  footer nav ul {
    margin: 2px 0 2px 0px;
    padding: 5px;
    }
  footer nav ul > li {
    font-size: 10px;
    margin-right: 0px;
    margin-top: 5px;
    }
  .contact-btn {
    margin: 10px;
    height: 40px;
    font-size: 0.9em;
    }
 .profile-button {
  margin: 10px;
  font-size: 8px;
  width: 90px;
  padding: 8px;
  margin: 10px 0 10px 5px;
    }
.button {
  margin: 10px;
  font-size: 12px;
  width: 110px;
  padding: 12px;
}


.bio-hero .left-info {
  padding-left: 19px;
  margin-top: 40px;
  width: 30%;
  height: 62px;
}
.bio-hero .katiesha-bio-pic {
  height: 200px;
  display: block;
  padding-left: 500px;
  margin-bottom: 5px;
}
.bio-hero .left-info h1 {
    font-size: 24px;
}
.bio-hero .left-info h3 {
  font-size: 20px;
  line-height: 10px;
}
.bio-info-left {
  width: 50%;
}
.bio-info-right {
  width: 50%;
}
.bio-info p {
  font-size: 20px;
  line-height: 30px;
  width: 330px;
}
.bio-info h4 {
 font-size: 24px;
 }
 .bio-info-right h4 {
  margin-left: 47px;
  }
.left-wording {
  width: 330px;
  margin: 40px 20px 20px;
}
.right-wording {
  width: 200px;
  margin: 40px -10px 20px;
}
.contact-bio h1 {
  font-size: 40px;
  margin: 10px 0 5px 0;
}
}


    /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
.hero .left-social-media {
  width: 10%
}
.storytime1 {
  width: 500px;
  height: 345px;
  margin: 80px -10px 50px 124px;
}
.artsywood1 {
  width: 500px;
  height: 345px;
  margin: 50px 73px 50px -150px;
}
.project2-left-info {
  margin-left: 27px;
}
.Blocbox3 {
  width: 500px;
  height: 345px;
  margin: 70px 0 50px 30px;
}
.project3-right {
  width: 40%;
}
.project3-right-info {
  margin: 120px 50px 50px 22px;
}
.project3-left {
  width: 60%;
}
.left-info p{
    width: 90%;
    padding: 5px 5px 5px 5px;
    font-size: 12px;
  }
.profile-left {
  width: 40%;
  }
.skills-right {
  width: 60%;
  margin-top: -30px;
  }
.tablink {
  padding: 15px 2px;
  font-size: 12px;
  width: 32%;
  }
.tabcontent {
  height: 52%;
  padding: 10px 3px;
}
.tabcontent ul {
  margin: -30px;
  line-height: 200%;
  margin-top: 50px;
}
.tabcontent li {
  font-size: 14px;
}
.blank-side{
  width: 40%;
}
.right-arrows {
  flex: 70;
  width: 90px;
  margin-top: -210px;
}
.down-triangles {
  margin: 50px 250px;
}
.contact {
  height: 250px;
}
.contact-info {
  width: 100%;
  margin: 10px;
}
.footer {
  height: 96px;
}
footer nav ul {
  margin: 2px 0 2px 0px;
  padding: 35px;
}
footer nav ul > li {
  font-size: 12px;
  margin-right: 0px;
  margin-top: 5px;
  }

  .bio-hero .left-info {
    padding-left: 19px;
    margin-top: 40px;
    width: 30%;
    height: 62px;
  }
  .bio-hero .katiesha-bio-pic {
    height: 230px;
    display: block;
    padding-left: 500px;
    margin-bottom: 5px;
  }
  .bio-hero .left-info h1 {
      font-size: 24px;
  }
  .bio-hero .left-info h3 {
    font-size: 20px;
    line-height: 10px;
  }
  .bio-info-left {
    width: 50%;
  }
  .bio-info-right {
    width: 50%;
  }
  .bio-info p {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
  }
  .bio-info h4 {
   font-size: 24px;
   }
   .bio-info-right h4 {
    margin-left: 47px;
    }
  .left-wording {
    width: 330px;
    margin: 40px 20px 30px;
  }
  .right-wording {
    width: 200px;
    margin: 40px -10px 20px;
  }
  .contact-bio h1 {
    font-size: 40px;
    margin: 10px 0 5px 0;
  }
}
